* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: #c8e6f9;  /* light beige */
    
  }
  
  a,
  a:visited {
    color: #007bff;
  }
  
  a:hover {
    color: #0056b3;
  }

  
  main {
    width: 80%;
    margin: 0 auto;
  }


.nav-bar {
  position: fixed;              
  top: 0;
  right: 0;                      
  background-color: #67a2dd;     
  padding: 1rem 1.5rem;
  display: flex;                
  gap: 1.5rem;
  border-bottom-left-radius: 8px;
}


.nav-link {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 500;
}

.nav-link.active {
  color: #023b55;
  border-bottom: 2px solid #023b55;
}

.nav-links {
  list-style: none;        
  display: flex;           
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.linkedin-icon {
  width: 150px;        
  height: auto;
  cursor: pointer;
  display: block;
  margin: 2rem auto;
}

.linkedin-icon:hover {
  opacity: 0.8;       
}

.linkedin-text {
  margin-top: 0.5rem;
  font-size: 14px;
  color: #555;
}

.bodyleft {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-align: left;  
}

.bio-container {
  display: flex;             
  justify-content: space-between;
  align-items: flex-start;    
  width: 80%;
  margin: 2rem auto;
}

.bio-text {
  text-align: left;
  max-width: 60%;
}

.profilepic-icon {
  width: 250px;
  height: auto;
  margin-left: 2rem;          
}

.addmarg {
  margin-top: 7rem;   
}

.github-icon {
  width: 70px;        
  height: auto;
  cursor: pointer;
  display: block;
  margin: 2rem auto;
}

.github-icon:hover {
  opacity: 0.8;       
}