{% extends 'base.html' %}
<!-- Projects Page -->

{% block header %}
  <h4>{% block pageheader %}Projects{% endblock pageheader %}</h4>
{% endblock header %}

{% block content %}
  <p>
    <li class = "bodyleft">
        <p> <strong> Module 1 Project: Personal Website  </strong> <br>
          This website is built using Python and the Flask framework. 
          It demonstrates the fundamentals of web development, including HTML structure, CSS styling, and Flask routing. 
          The site will be updated throughout the course as I complete additional Python projects. <a href="https://github.com/Lilyzheng30/jhu_software_concepts.git"> Github </a></p> <br>
          <a href="https://github.com/Lilyzheng30/jhu_software_concepts.git"
          target="_blank" rel="noopener noreferrer">
         <img src="{{ url_for('static', filename='github.png') }}"
              alt="Github"
              class="github-icon">
         </a>
    </li>
  </p>
{% endblock content %}