[MASTER]
ignore-paths=
    .*/venv/.*
    .*/__pycache__/.*
    .*/docs/build/.*
    .*/tests/.*
    .*/docs/source/conf\.py$


[TYPECHECK]
ignored-modules=flask,psycopg,pytest,huggingface_hub,llama_cpp,bs4
